# This file may be used to create an environment using:
# conda create -n DF-ML python=3.11
# conda activate DF-ML
# pip install -r requirements.txt
# platform: linux-64

numpy==1.26.4
pandas==2.2.2
Requests==2.31.0
matplotlib==3.8.4
scikit_learn==1.4.2
setproctitle==1.3.3
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tqdm==4.66.2
